@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Patua+One&family=Ubuntu+Condensed&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
.App {
  text-align: center;
  background-color: #fffafa;
}
body {
  background-color: #fffafa;
  font-family: "Patua One", sans-serif;
}
nav {
  color: #a9211d;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.div-bg {
  background-color: #ebecf0;
}

li .nav-link {
  font-size: 1.5rem;
  color: #4286f4;
}
li .nav-link:hover {
  font-size: 1.9rem;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.navbar-color {
  background-color: #47484c;
}
.nav1 {
  font-family: "Oswald";
  background-color: #c9f6ff;
  margin: 0%;
  font-size: 30px;
}
.nav1-icon {
  color: #25d366;
}
.header-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 75vh;
  width: 100%;
  margin-right: 0%;
}
.top-right {
  position: absolute;
  top: 19rem;
  right: 4rem;
}
.paragraph {
  font-family: "Oswald", sans-serif;
  color: #2e8b57;
  font-size: 18px;
  text-transform: uppercase;
}
::placeholder {
  font-size: 16px;
}
form .input {
  border: 1px #a9211d;
}
form {
  background-color: rgba(201, 246, 255, 0.767);
  box-shadow: 0 0 0 14px rgba(46, 139, 87, 0.767);
  font-size: 20px;
  font-family: "Oswald";
}

.fa-bars {
  color: #25d366;
}
.header-text1 {
  position: relative;
}
.header-text {
  position: absolute;
  font-size: 45px;
  font-family: "Big Shoulders Display", sans-serif;
  top: 20%;
  color: #4286f4;
}

.heading {
  font-size: 30px;
  font-family: "Big Shoulders Display";
  color: #a9211d;
  text-decoration: underline;
}
footer {
  height: 12vh;
  padding-top: 4vh;
  background-color: #47484c;
  color: #eace6a;
  font-size: 2.5vh;
  font-family: "Poppins", "sans-serif";
}
.list {
  color: black;
  font-size: 18px;
  font-family: "Patua One", sans-serif;
}
.warranty {
  height: 50vh;
  width: 80vh;
}
.form-phone {
  display: none;
}
.btn-primary {
  color: #4286f4;
  background-color: #c9f6ff;
  font-size: 18px;
  width: 13rem;
  height: 3rem;
  text-shadow: none;
  margin: 3px;
}
.btn-danger {
  color: #c9f6ff;
  background-color: #4286f4;
  border: none;
}

@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .header-img {
    height: 75vh;
    width: 100%;
  }
  .top-right {
    position: absolute;
    top: 19rem;
    right: 0.2rem;
  }
  .nav1 {
    font-size: 15px;
  }
  .heading {
    font-size: 28px;
  }
  .form-phone {
    display: none;
  }
}
@media (max-width: 576px) {
  .header-img {
    height: 70vh;
    margin: 0;
  }
  .top-right {
    display: none;
  }
  .form-phone {
    display: inline;
  }
  .paragraph {
    font-size: 15px;
  }
  .list {
    font-size: 15px;
  }
  ::placeholder {
    font-size: 16px;
  }
  .small {
    font-size: 15px;
  }
  .nav1 {
    font-size: 12px;
  }
  .heading {
    font-size: 23px;
  }
  .header-text {
    font-size: 25px;
  }
  .btn-primary {
    font-size: 14px;
    width: 10rem;
    height: 2.6rem;
    text-shadow: none;
    margin: 3px;
  }
}
