.App {
  text-align: center;
  background-color: steelblue;
}
body {
  background-color: steelblue;
}
nav {
  color: #66ff00;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
li .nav-link {
  font-size: 2rem;
  color: #66ff00;
}
li .nav-link:hover {
  font-size: 3rem;
  text-shadow: 2px 2px #39ff14;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.navbar-color {
  background-color: #4e4e4e;
}

@media (prefers-reduced-motion: no-preference) {
}
