@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Patua+One&family=Ubuntu+Condensed&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
.App {
  text-align: center;
  background-color: #fffafa;
}
body {
  background-color: #fffafa;
  font-family: "Patua One", sans-serif;
}
nav {
  color: #a9211d;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

li .nav-link {
  font-size: 1.5rem;
  color: #eace6a;
}
li .nav-link:hover {
  font-size: 1.9rem;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.navbar-color {
  background-color: #47484c;
}
.nav1 {
  font-family: "Righteous", sans-serif;
  background-color: #eace6a;
  font-size: 20px;
}
.nav1-icon {
  color: #075e54;
}
.header-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 75vh;
  width: 100%;
  margin-right: 0%;
}
.top-right {
  position: absolute;
  top: 19rem;
  right: 4rem;
}
.paragraph {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 25px;
}
::placeholder {
  color: #a9211d;
  font-size: 20px;
}
form .input {
  border: 1px #a9211d;
}
form {
  border: 15px #a9211d;
  background-color: #fffafa;
  box-shadow: 0 0 0 14px rgba(43, 42, 42, 0.767);
}
small {
  color: #a9211d;
  font-size: 15px;
}
.fa-bars {
  color: #eace6a;
}
.header-text1 {
  position: relative;
}
.header-text {
  position: absolute;
  font-size: 45px;
  font-family: "Patua One", sans-serif;
  top: 20%;
  color: #a9211d;
  text-shadow: 2px 2px #eace6a;
}

.heading {
  font-size: 35px;
  font-family: "Patua One";
  color: #a9211d;
  text-decoration: underline;
}
footer {
  height: 12vh;
  padding-top: 4vh;
  background-color: #47484c;
  color: #eace6a;
  font-size: 2.5vh;
  font-family: "Poppins", "sans-serif";
}
.list {
  color: #47484c;
  font-size: 25px;
  font-family: "Patua One", sans-serif;
}
.warranty {
  height: 50vh;
  width: 80vh;
}
.form-phone {
  display: none;
}
.btn-primary {
  color: #eace6a;
  background-color: #47484c;
  font-size: 20px;
  width: 15rem;
  height: 4rem;
  text-shadow: none;
  margin: 3px;
}

@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .header-img {
    height: 75vh;
    width: 100%;
  }
  .top-right {
    position: absolute;
    top: 19rem;
    right: 0.2rem;
  }
  .nav1 {
    font-size: 15px;
  }
  .heading {
    font-size: 28px;
  }
  .form-phone {
    display: none;
  }
}
@media (max-width: 576px) {
  .header-img {
    height: 70vh;
    margin: 0;
  }
  .top-right {
    display: none;
  }
  .form-phone {
    display: inline;
  }
  .paragraph {
    font-size: 18px;
  }
  ::placeholder {
    font-size: 16px;
  }
  small {
    font-size: 15px;
  }
  .nav1 {
    font-size: 12px;
  }
  .heading {
    font-size: 20px;
  }
  .header-text {
    font-size: 25px;
  }
}
